.section{
    width: 100%;
}
.wish1{
    min-height: 20rem ;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(45deg,hsl(200,90%,50%),hsl(280,100%,40%));
}
.wish1 p{
	color: white;
    letter-spacing: 0.8px;
    word-spacing: 2vw;
}

.gallery .img{
    background: url('y9.jpg')no-repeat center center/cover;
	width:100%;
    margin: auto;
    min-height: 60vh ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img button{
	background: none;
    border: none;
}
.img button:hover{
    color: white !important;
}
.section-2{
    margin: 20px;
    padding: 20px;
    color: white;
    background: url('y10.jpg')no-repeat center center/cover;
}