.modalbtn{
    width: 60%;
    display:block;
    margin: 15% 20%; 
    border: none;
    background: orangered;
    border-radius: 20px;
    padding: 10px 0px;
}
.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
}
.modal::before{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    content: ''; 
    background: black;
    opacity: 0.8;
}
.modalcase{
    position: relative;
    width: 80%;
    height: 23%;
    z-index: 5;
}
#uppermodal{
    transition: all 1s ease-in-out;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUvnqOYCYZoG1Xu7QGH6Ue3uH5TnqjQDxDHw&usqp=CAU')no-repeat top center/cover;
	left:-100vw;
    top: 0;
}
#lowermodal{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUvnqOYCYZoG1Xu7QGH6Ue3uH5TnqjQDxDHw&usqp=CAU')no-repeat bottom center/cover;
    transition: all 1s ease-in-out;
	right: -100vw;
}
.cancle{
    font-size: 2rem;
}